Order allow,deny
Deny from all

<FilesMatch "\.(jpg|jpeg|png|gif|webp|svg)$">
    Order allow,deny
    Allow from all
</FilesMatch>

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} !\.(jpg|jpeg|png|gif|webp|svg)$ [NC]
RewriteRule ^.*$ / [R=302,L]